.beta{
    font-size: 0.6rem;
}
.dropdown{
    font-size: 0.9rem;
}
.brand{
    font-size: 1.6rem;
}
.verse{
    margin-left: 0.1rem;
}
.export{
    border: 1px solid #587bd8;
    color: #587bd8;
    background-color: black;
    border-radius: 0.7rem;
font-style: oblique;

}
.btns{
    gap: 0.5rem;
}
.share{

    border-radius: 0.7rem;
    border: none !important;;
    background: rgb(124,51,239);
    background: linear-gradient(340deg, rgba(124,51,239,1) 27%, rgba(124,51,239,1) 34%, rgba(124,51,239,1) 43%, rgba(124,51,239,1) 57%, rgba(152,48,239,1) 58%, rgba(139,50,239,1) 76%, rgba(92,55,238,1) 100%);
}
.pause{
    color: rgb(224, 222, 222);
}

/* Navbar.css */

.custom-toggler {
    border: none; 
    color: #fff; 
  }
  
  .custom-toggler .bi-list {
    font-size: 1.5rem; 
  }
  
  .d-flex.align-items-start {
    align-items: flex-start; /* Align items to the start (top) of the container */
  }

  
  .start{
    align-items: flex-start;
  }
  
   .play, .pause {
    color: #b2b0b0;
    background-color: #232528;
    border-radius: 0.2rem;
    border: none;
    font-style: oblique;
    font-size: 1.5rem;
    font-weight: 900;
    cursor: pointer;
    transition: border 0.3s;
  }
  
  .play.active, .pause.active {
    border: 0.1px solid #7e57de;
  }
  
  .play-pause {
    gap: 7.5rem;
  }
  
  .spinner-border {
    color: #7e57de; 
    font-size: 0.2rem;
  }

  .custom-input::placeholder {
    color: rgb(189, 180, 180);
  }
  
  .send{
    color: #01bef4;
  }
  .senndbtn{
    background-color: #512cac;
  }
  .threedot{
    color: #818181;
    font-weight: bolder;
    font-size: 1.4rem;
    margin-right: 0.5rem;
  }