.video-editor { font-family: Arial, sans-serif; padding: 20px; text-align: center; max-width: 100%; box-sizing: border-box; color: #ccc; } 
.header { font-size: 1.5rem; margin-bottom: 20px; } 
.drag-drop-zone { border: 2px dashed #ccc; padding: 20px; margin: 20px auto; max-width: 90%; border-radius: 8px; cursor: pointer; transition: border-color 0.3s, background-color 0.3s; }
 .drag-drop-zone.video-added { border: none; } 
 .drag-drop-zone.dragging { border-color: #007bff; background-color: #f0f8ff; } 
 .video-preview { width: 100%; max-width: 100%; border-radius: 8px; margin: 0 auto; } 
 .controls { margin-top: 20px; } .control-btn, 
 .addaudio  {border-radius: 0.7rem;
 border: none !important;;
 background: rgb(124,51,239);
 background: linear-gradient(340deg, rgba(124,51,239,1) 27%, rgba(124,51,239,1) 34%, rgba(124,51,239,1) 43%, rgba(124,51,239,1) 57%, rgba(152,48,239,1) 58%, rgba(139,50,239,1) 76%, rgba(92,55,238,1) 100%);
 color: white;
 padding: 0.7rem;
}


  .waveform-track {
    height: 50px;
  }
  
  .waveform-track canvas {
    height: 100% !important;
    
  }
  
  .control-btn {
    margin: 5px;
  }
  
  .drag-drop-zone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
  }
  
  .drag-drop-zone.dragging {
    border-color: #000;
  }
  

  .backword{
    font-size: 1.5rem;
    color: gray;
    font-weight: 6000;
  }
  .forword{
    font-size: 1.5rem;
    color: gray;
    font-weight: 6000;
  }
  .sound{
    font-size: 1.5rem;
    color: gray;
    font-weight: 6000;
    background-color:#080808 ;
    border: none;
  }








  .progress-and-controls {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .play-pause-btn {
    margin-top: 0.7rem; 
    border: none;
    background: white;
    cursor: pointer;
    font-size: 2.1rem; 
    color: #080808;
    border-radius: 50%;

  }
  


  .progress-bar {
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    background: white;
    outline: none;
  }
  
  .progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #746a58; 
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  

  .time-display {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    color: white;
  }
  

  .forwardbackword{
    background-color: #080808;
    border: none;
  }

  .file{
    background-color: #080808;
    border: none;
    color: #0d2034;
    font-size: 2.5rem;
    font-weight: bolder;
  }